input {
  border-radius: 8px;
}

input[type="text"] {
  background-color: red;
}

input[type="submit"]{
  background-color: green;
  color:white;
  padding:10px;
  border-radius: 9px;
}

form p {
  color: red;
}

form p::before {
  content:"Own A Franchise";
}
